{
  "reporter": [
    "lcov",
    "text"
  ],
  "include": [
    "src/"
  ],
  "exclude": [
    "src/config/conf.*"
  ],
  "require": [
    "babel-register"
  ],
  "temp-directory": "./coverage/.nyc_output",
  "all": true,
  "instrument": false,
  "sourceMap": false
}
