version: 2

defaults: &defaults
  working_directory: ~/after-work.js
  docker:
    - image: circleci/node:8.9.4-browsers

jobs:
  install:
    <<: *defaults
    steps:
      - checkout
      - restore_cache:
          key: dependency-cache-{{ checksum "package-lock.json" }}
      - run:
          name: Install dependencies 
          command: npm i
      - run:
          name: Bootstrap
          command: npm run bootstrap
      - save_cache:
          key: dependency-cache-{{ checksum "package-lock.json" }}
          paths:
            - node_modules
      - persist_to_workspace:
          root: ~/after-work.js
          paths:
            - .

  lint:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/after-work.js
      - run: npm run bootstrap
      - run: npm run lint

  test-all:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/after-work.js
      - run: npm run bootstrap
      - run: npm test

  test-node-coverage:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/after-work.js
      - run: npm run bootstrap
      - run: npm run test:coveralls
      - store_artifacts:
          path: ./coverage

workflows:
  version: 2
  all:
    jobs:
      - install
      - lint:
          requires:
            - install
      - test-all:
          requires:
            - install
      - test-node-coverage:
          requires:
            - install
