version: 2

defaults: &defaults
  working_directory: ~/after-work.js
  docker:
    - image: circleci/node:8.9.4-browsers

jobs:
  install:
    <<: *defaults
    steps:
      - checkout
      - restore_cache:
          key: dependency-cache-{{ checksum "package.json" }}
      - run:
          name: Install dependencies 
          command: npm i
      - run:
          name: Bootstrap
          command: npm run bootstrap
      - save_cache:
          key: dependency-cache-{{ checksum "package.json" }}
          paths:
            - node_modules
      - persist_to_workspace:
          root: ~/after-work.js
          paths:
            - .

  lint:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/after-work.js
      - run: npm run bootstrap
      - run: npm run lint

  test-node:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/after-work.js
      - run: npm run bootstrap
      - run: npm run test:node

  test-chrome:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/after-work.js
      - run: npm run bootstrap
      - run: npm run test:chrome

  test-protractor:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/after-work.js
      - run: npm run bootstrap
      - run : node_modules/protractor/bin/webdriver-manager update --gecko false --versions.chrome 2.37
      - run: npm run test:protractor

  test-puppeteer:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/after-work.js
      - run: npm run bootstrap
      - run: npm run test:puppeteer

  test-node-coverage:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/after-work.js
      - run: npm run bootstrap
      - run: npm run test:coveralls
      - store_artifacts:
          path: ./coverage

workflows:
  version: 2
  all:
    jobs:
      - install
      - lint:
          requires:
            - install
      - test-node:
          requires:
            - install
      - test-chrome:
          requires:
            - install
      - test-protractor:
          requires:
            - install
      - test-puppeteer:
          requires:
            - install
      - test-node-coverage:
          requires:
            - install
