version: 2
jobs:
  build:
    docker:
      - image: circleci/node:8.4.0
    working_directory: ~/after-work.js
    steps:
      - checkout
      - run:
          name: greenkeeper - Update
          command: |
            sudo npm install -g greenkeeper-lockfile@1
            greenkeeper-lockfile-update
      - restore_cache:
          key: dependency-cache-{{ checksum "package-lock.json" }}
      - run:
          name: Install dependencies
          command:
            npm install --quiet
      - run:
          name: greenkeeper - Upload
          command: greenkeeper-lockfile-upload
      - save_cache:
          key: dependency-cache-{{ checksum "package-lock.json" }}
          paths:
            - node_modules
      - run:
          name: Run ESLint
          command:
            npm run lint
      - run:
          name: Run unit and component tests
          command:
            npm run test:coveralls
      - store_artifacts:
          path: ./coverage
