/* your custom css */
.homeContainer, .fixedHeaderContainer {
  min-height: 50px;
  background: linear-gradient(90deg, #FFD194 0%, #D1913C 100%);
}

.navigationSlider .slidingNav ul li a[href^="http"] {
  font-family: FontAwesome;
  font-size: 1.3em;
  padding: 0 5px;
  margin-left: 5px;
}

.projectLogo {
  display: block;
}

footer.nav-footer {
  background: #5d5d5d;
}

footer .sitemap {
  max-width: 680px;
}

.container .wrapper h2 {
  font-variant: small-caps;
  font-weight: 200;
}

.container .gridBlock .blockContent p {
  text-align: left;
  color: #666;
}

@media only screen and (min-width: 1200px) {
  .homeContainer .homeWrapper .projectLogo {
    padding: 2em 0px 4em;
  }
}

.homeContainer .button {
  color: #e8ffe9;
  border: 0;
  background: #d1913c;
  border-radius: 4px;
  padding: 1em 2em;
  box-shadow: 0 0px 8px rgba(0, 50, 0, 0.1);
  transition: all 0.1s ease-out;
  position: relative;
  top: 0;
}

.homeContainer .button.scream {
  background: linear-gradient(90deg, rgba(255, 107, 63, 0.85) 0%, rgba(255, 59, 114, 0.85) 100%)
}

.homeContainer .button:hover {
  box-shadow: 0 6px 18px rgba(0, 50, 0, 0.1);
  top: -1px;
}

.homeContainer::before {
  display: block;
  content: '';
  height: 402px;
  background: linear-gradient(90deg, #FFD194 0%, #D1913C 100%);
  z-index: -1;
  position: absolute;
  width: 100%;
}

.homeContainer .homeWrapper {
  padding: 3em 10px 0 10px
}

.homeContainer .homeWrapper .logo {
  opacity: 0.8;
}

.projectTitle {
  color: #ffffff;
  opacity: 0.8;
}

.projectTitle > small {
  margin-bottom: 0;
}

.promoSection {
  top: 1em;
}

